mixin cube
  .wrapper
    .line
    .line2
    .cube-wrap
      .cube(
        data-0="transform: perspective(18000px) rotate3d(1, 0, 0,  0deg)"
        data-100="transform: perspective(18000px) rotate3d(1, 0, 0,  90deg)"
        data-200="transform: perspective(18000px) rotate3d(1, 0, 0,  180deg)"
        data-300="transform: perspective(18000px) rotate3d(1, 0, 0,  270deg)"
        data-400="transform: perspective(18000px) rotate3d(1, 0, 0,  360deg)"
      )
        span.n1
          .sq.circle-50-50
        span.n2
          .sq.circle-25-75
          .sq.circle-75-25
        span.n3
          .sq.circle-25-75
          .sq.circle-50-50
          .sq.circle-75-25
        span.n4
          .sq.circle-25-25
          .sq.circle-25-75
          .sq.circle-75-25
          .sq.circle-75-75
        span.n5
          .sq.circle-25-75
          .sq.circle-75-25
          .sq.circle-75-25r
          .sq.circle-25-75r
          .sq.circle-50-50
        span.n6
          .sq.circle-25-75
          .sq.circle-75-25
          .sq.circle-25-25
          .sq.circle-50-75
          .sq.circle-50-25
          .sq.circle-75-75

